body{
    font-family: 'Roboto', sans-serif;
}
.logo{
    width:100px;
    height:52px;
    margin-right:10px;
    display: inline-block;

}
img{
    width:100%;
}
.nav-link,.SignIn{
    color:black !important;
    font-size:16px;
    font-weight:400;
    padding: 10px 25px !important
}
.Sign.SignMobile{
    display:none;
}

.nav-link{
    margin-right:50px;
    text-align: center;
    position: relative;
}
.nav-link.last{
    margin-right:0;
}
.navbar{
    background-color:white;
    padding:10px 0;
    height:70px;
}
.scrollNav {
    top: 0 !important;
    z-index: 555;
    animation-duration: 1s;
    background: rgb(255, 255, 255) !important;
    position: fixed !important;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 7px 3px;
    transition: 1s all;
    left: 0;
    width:100%;
    height:70px;
}
.navbar .nav-link:after {
    content: "";
    position: absolute;
    width: 0;
    top: 3%;
    right: 21%;
    border: 1px solid transparent;
    transition: all .6s;
}

.navbar .nav-link:before {
    content: "";
    position: absolute;
    width: 0;
    bottom: 3%;
    left: 21%;
    border: 1px solid transparent;
    transition: all .6s;
}
.navbar .nav-link:hover:after, .nav-link:hover:before, .nav-link.activeLink:before {
    width: 60%;
    transition: all .6s;
    border: 1px solid #00bff3;
}

#HeroSection{
    position: relative;
    z-index: 1;
}
.backgrounimg{
    position: absolute;
    left:0;
    top:490px;
    width:100px;
}
.backgrounimg2{
    position: absolute;
    z-index: -1;
    top:0;
    right:0;
    width:50%;
    
}

.appStore{
    width:100px;
    margin-top:100px;
}
.appStore span{
    font-size:10px;
    color:#cccccc;
}
#HeroSection .emailSub{
    margin-left:0 !important;
}
.heroCont{
    width:80%;
    margin-top:95px;
}
.heroCont .emailSub{
    width:100%;
}
.navbar-brand span{
font-size:16px;
}
#menu{
    width: 100%;
    border-bottom:1px solid #e5e5e5;
    background-color: white;
    transition: 1s all;
}
.SignIn{
    padding:10px 25px;
}


.nav-link.activeLink:before {
    width: 55%;
    transition: all .6s;
    border: 1px solid #00bff3;
}


.SignIn:hover{
    text-decoration: none;
    color:white !important;
    background-color:#7379f8;
    border-radius: 40px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1)
}
#GetStartSection{
    width:100%;
    background-color: white;
    height:auto;
    color:black;

}
.secTitle{
    font-size:50px;
    margin:20px 0;

}
.PaddingSec{
    padding-top:150px;
    padding-bottom:50px;
}
.emailSub{
    position:relative;
    width:80%;
    margin:0 auto;


}
.emailinput{
    width:100%;
border:0;
    border-radius: 40px;
    box-shadow:1px 1px 1px 1px rgba(0,0,0,.1);
    margin-top:20px;
    border:1px solid #fcfcfc;
    height: 50px;
}
.emailinput::placeholder{
    padding:10px;
    color:#b2b2b2;
    font-size:14px;
    height:50px;
}
.StartBtn{
    height:50px;
    background-color: #7379f8;
    color:white !important;
    border-radius: 40px;
    position: absolute;
    padding: 0 20px;
    line-height: 50px;
    right: -1px;
    top: 29%;
    font-size:14px;
}
.SocialIcons{
    width:100%;
    text-align: center;
}
.StartBtn:hover{
    background-color: #5b60cc;
    border:1px solid #7379f8;
}
.SocialIcons{
    margin-top:50px;
}
.SocialIcons i{
color:#cccccc;
display: inline-block;
padding:20px;
font-size:20px;
}
.SocialIcons i:hover{
 color:#7379f8;
    }
#Community{
    background-color: black;
    color:white;
    overflow: hidden;
    height: 600px;
}
.ReadMoreTest{
    margin-top:20px;
    background-color: #7379f8;
    color:white;
    display: block;
    padding:10px;
    border-radius: 40px;
    width:50%;
}
.TestomonialBox{
    padding:20px;
    width:100%;
    height:auto;
    border-radius: 5px;
    background-color: #141414;
    color:#d0d0d0;
    margin-top:20px;

}
.TestTop{
width:100%;
margin-bottom:10px;
}
.TestPic{
    width:20%;
    border-radius: 100%;
    display: inline-block;
    margin-right:5px;
}
.TestName{
    display:inline-block;
}
.TestName h5{ 
    font-size:1rem;
}
.TestPic img{
    border-radius:50%;
}
.twitterIcon{
    display: inline-block;
}
.twitterIcon i{
    font-size:16px;
    color:#5a5a5a;

}
.testDesc{
    margin-top:30px;
}
.testDesc p{
    font-size:0.75rem;
}
.testDate{
    margin-top:20px;
}
.testDate span{
    font-size:.6rem;
}
.FeaturesBox{
    width:100%;
    padding:0 30px;
    margin-top:20px;
}
.FeaturesIcon{
    margin:0 auto;
    margin-bottom:20px;
    width:50px;
    height:50px;
}
.FeatureLink{
    color:#7d0ada;
    font-size:14px;
    margin-top:20px;
}
.FeatureLink i{
    font-size:12px;
}
.marginRow{
    margin-top:100px;
}
.mobileImg{
    width: 68%;
    margin: 98px auto;
}
#Features ul{
    margin-top:20px;
}
.FeatureList{
    list-style-type: none;
    margin-top:30px;
    width:50%;
    padding:10px;
}
.FeatureList i{
    display: inline-block;
    color:#b9bcfc;
    font-size:18px;

}
.FeatureList h4{
    display:inline-block;
    font-size:14px;
    margin-left:20px;

}
.FeatureList:hover{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.2)
}
.ModalLogo span{
color:#7379f8;
display: block !important;
text-align: center;
}
.ModalLogo,.ClientBuisness{
    margin:  auto;
}
.ModalLogo{
    margin-bottom:50px;
}
.signInModal,.signInSign{
    top:15%;
}
.modal-content{
    padding:50px !important;

}
.modal .SignUp,.ModalSign{
    display: block;
    margin:50px auto;
    margin-bottom: 10px

}
.signInModal .SignIn{
    margin-top:50px;
    border:1px solid transparent;
}
.ClientSign{
    margin-right:50px;
    padding : 10px 33px !important

}
.signInModal .SignIn:hover{
background-color: white;
color:#7379f8 !important;
border:1px solid #7379f8;
}
.signInModal .SignIn {
    text-decoration: none;
    color:white !important;
    background-color:#7379f8;
    border-radius: 40px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1)
}
.modal-content span{ 
font-size:12px;
color:#cecece
}
.SignForm .SignIn{
    background-color: #7379f8;
    color:white !important;
    border:1px solid #7379f8;
    border-radius: 40PX;
}
.SignForm .SignIn:hover{
    background-color: white;
    color:#7379f8 !important;
    border:1px solid #7379f8;
}
.formLabel{
    font-size:12px;
    color:#cecece;
    margin:0;
    margin-top:5px;
}
.form-Control{
    border:0;
    border-bottom:1px solid #cecece;
    width:100%;
    margin-top:0;
    padding:0;
    height: 10px;
}
.form-group{
    margin:0;
}
.form-Control:hover{
    border-bottom:1px solid #7379f8;

}
.ClientBuisness{
    margin:0 !important;
    padding:0 50px !important;
}
.marginColTwo{
    margin-top:-50px;
}
.marginCol{
    margin-top:-100px;
}
section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
#vertical-Nav  nav{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1 !important;
    background: #fafbfc !important;
    float: left;
    border-right:1px solid #c2c6da;
    position: fixed;
    height:100%;
    top:0;
    left:0;
    margin:auto;
}
#vertical-Nav .navbar-collapse{
    padding: 10% 0;
}
#vertical-Nav .nav-item,#vertical-Nav .nav-link,#vertical-Nav .navbar-nav,#vertical-Nav .navbar-collapse{
    display: block !important;
    color:#c2c6da;
}
#vertical-Nav .logo{
width:50px;
margin:0 auto;
display: block;
}
#vertical-Nav .navbar-brand{
    margin: 0 auto !important;
}
#vertical-Nav .nav-link{
    margin:0;
    color:#c2c6da !important;
    padding:5px 10px !important;

}
#vertical-Nav .navbar-toggler{
    display: none;
}
.memberPage .activeLink{
    border-left:2px solid #7379f8;
}
#vertical-Nav .nav-link i{
    font-size:16px;
    padding:10px;
    line-height: 16px;

}
#vertical-Nav .nav-item{
    margin-top:20px;
}
#vertical-Nav .nav-link:hover i{
    color:white !important;
    background-color:#979797;
    border-radius:50%;
    text-align: center;
    

}
#horizantal-Nav{
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2 !important;
    border-bottom:1px solid #c2c6da;
   background-color: #fafbfc;
   flex-direction: row;
padding-top:20px;
padding-bottom:20px;   
z-index: 1;
}
.searhBar i ,.searhBar span{
    font-size:12px;
    color:#979797; 
    margin-right:20px;
}
.invite {
    background-color: white;
    padding:5px 15px;
    border:1px solid #7d82f9;
    border-radius: 40px;
    display: inline-block;
}
.invite:hover{
    background-color: #7d82f9;
}
.invite a{
color :#7d82f9;
}
.invite:hover a{
    color:white;
    text-decoration: none;
    }
.invite a i{
    font-size:14px;
    margin-right:5px;
}
.clientImg{
    width:55px;
    margin-left:30px;
    border-radius: 50%;
    display: inline-block
}
.clientImg img{
    border-radius: 50%;
}
#calender{
    -ms-flex: 4 ;
    flex: 4 !important;
height:100%;
position: fixed;
right:0;
top:0;
    background-color: #fdfdff;
    border-left:1px solid #c2c6da;
    z-index:-1;
    padding:150px 50px;
}
.thisday{
width:100%;
}
.thisday i{
    background-color:#ffd012;
    color:white;
    border-radius: 5px;
    font-size:30px;
    padding:15px;
    margin-right:10px;
}
.CalenderText{
    display: inline-block;
}
.CalenderText span{
    display:block;
    font-size:14px;
    color:#989898;
    margin-top:10px;
}
.CalenderText h3{
    font-size:21px;
    margin:0;
}
#Calender{
    width:100%;
}
.Glasses {
    margin-top: 25px;

}
.switch {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 35px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #F8F8F8;
    border-radius: 7px;
    height: 35px;
    border: 1px solid #E6E6E6;
}
input:checked + .slider:after {
    -webkit-transform: translateX(-35px);
    -ms-transform: translateX(-35px);
    transform: translateX(-35px);
}
input:checked + .slider:after {
    background-color: white;
}
.slider:after {
    position: absolute;
    content: "";
    height: 35px;
    width: 70px;
    right: 0px;
    bottom: 0px;
    background-color: #B4B4B4;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 7px;
}
input:checked ~ span.Eye {
    color: black !important;
}
.GlassesEyeSun.Eye {
    left: 7px;
}
.GlassesEyeSun {
    font-size: 10px;
    color: black;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    position: absolute;
    z-index: 2;
    font-size:15px;
}
input:checked ~ span.Sun {
    color: #000 !important;
}
.GlassesEyeSun.Sun {
    right: 7px;
    color: #fff;
}
#pageBody{
    background-color: #f9f9ff;
    position: relative;
    z-index: -3;
}
.body-upper{
    width:80%;
    padding:30px 0;
}

  .glassBox{
      padding:20px;
      background-color:white;
      border-radius:5px;
      margin-top:20px;
  }
  .glassImg{
      margin:0 auto;
  }
  .imgglass{
      width:70%;
      margin:0 auto;
  }

@media(max-width:767px){
    .backgrounimg,.backgrounimg2{
        display:none;
    }
    .secTitle{
        font-size:27px;
    }
    .navbar .nav-link:before ,.navbar .nav-link:after  {
    display:none;
    }
    .logo{
        width:70px;
    }
    .navbar-brand{
        line-height: 45px !important
    }
    .navbar{
        height:65px;
    }
    .heroCont{
        margin:20px 0;
    }
    .appStore {
        margin: auto;
        margin-top: 50px;

    }
    .navbar-collapse {
        background-color: white;
        width: 100%;
        z-index: 555;
    }
    .Sign{
        display:none;
    }    
    .Sign.SignMobile{
        display:block;
    }
    .FeatureList,.ReadMoreTest,.emailSub{
        width:100%;
    }
    .scrollNav{
        height:100px;
    }
    .PaddingSec{
        padding:50px 10px;
    }
    .signInModal .SignIn{
        display: block;
    }
    .ClientSign{
        margin:0;
    }
    .ClientBuisness{
        padding:0 !important;
    }
    .marginColTwo,.marginCol{
        margin-top:0;
    }
    #Community{
        height:auto;
    }
    .nav-link{
        margin-right:0 !important;
    }

}
@media(max-width:1024px){
    .backgrounimg,.backgrounimg2{
        display:none;
    }
    .navbar-brand{
        width:20%;
    }
    .navbar-nav{
        flex-direction: row !important;
        display: inline-block !important;
    }
    .collapse.navbar-collapse{
        display: block !important;
        flex-basis: 50%;
    }
 
    .nav-item{display: inline-block !important
    }
    .navbar-toggler{
        display: none !important;
    }
    .nav-link{
        margin-right:5px !important;
    }
    .sign{
        width:20%;
    }
    .SignIn{
      padding:  8px 12px !important
    }
    .logo{
        width: 79px;
        height: 37px;
    }
}